*{
    margin: 0;
    padding: 0;
}
/* shared style */
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}


/* nav relented styles*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
color: #181818;
font-size: 45px;
font-weight: 800;
}
.primary-text{
    color: #FD6E0A;
}
.primary-button{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 25px;

}
.section-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}
.section-desc{
color:#757575;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #474747;
}

/* header releted style */
.header{
    background-color:#FFF8F3;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 60px 60px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .profile_pic{
    width: 780px;
    height: 760px;
    
}
.banner-start-1{
color: #474747;
font-size: 45px;
font-weight: 600px;
margin-bottom: 0px;
}
.banner-start-2{
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-desc{
    margin-top: 5px;
}
/* main section start */
main{
    max-width: 1140px;
    margin: 0px auto;
}
/* about section */
.about{
    padding: 130px;
    margin-bottom: 35px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info-title{
margin-top: 30px;
color: #757575;
text-align: center;
font-size: 23px;
font-weight: 450;
line-height: 40px;
}
.info-description{
    color: #474747;
    font-weight: bold;
}
#what-i-do-desc{
    padding: 30px 150px;
}

.skills-container{
    display: flex;
    
}
.skill{
    padding: 25px;
    gap: 24px;
}
.skill-description{
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}