/* shared style */
body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}


/* nav relented styles*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
color: #181818;
font-size: 45px;
font-weight: 800;
}
.primary-text{
    color: #FD6E0A;
}
.primary-button{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 25px;

}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #474747;
}

/* header releted style */
.header{
    background-color:#FFF8F3;;
}
.banner{
    padding: 50px 50px 50px 150px ;
    display: flex;
    align-items: center;
}
.banner .profile_pic{
    width: 560px;
    height: 540px;
}